@model MunicipalServices.Data.ComplaintForm

@{
    ViewData["Title"] = "الشكاوي";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:600px">

    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="content-box mt-2">
            <div class="content-box-header">
                <h3 class="content-box__title text-right">تعديل</h3>
            </div>
            <div class="content-box-body">
                <div class="content-box-body__row row">
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="FullName" class="input-label text-right"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="PhoneNumber" class="input-label text-right"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="IdentificationNumber" class="input-label text-right"></label>
                        <input asp-for="IdentificationNumber" class="form-control" />
                        <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="AreaName" class="input-label text-right"></label>
                        <input asp-for="AreaName" class="form-control" />
                        <span asp-validation-for="AreaName" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="FullAddress" class="input-label text-right"></label>
                        <input asp-for="FullAddress" class="form-control" />
                        <span asp-validation-for="FullAddress" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="ComplaintType" class="input-label text-right"></label>
                        <select asp-for="ComplaintType" asp-items="ViewBag.ComplaintType" class="form-control"></select>
                        <span asp-validation-for="ComplaintType" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="SubjectComplaint" class="input-label text-right"></label>
                        <input asp-for="SubjectComplaint" class="form-control" />
                        <span asp-validation-for="SubjectComplaint" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="root-space__btn-wrapp col-12">
                <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">إلغاء</a>
                <button type="submit" class="roots-btn btn btn-primary roots-btn-w-plus">حفظ</button>
            </div>
            <br />
        </div>
    </form>
        </div>
