@model IEnumerable<MunicipalServices.Data.Receipts>

@{
    ViewData["Title"] = "سند الصرف";
}

<div class="tabs-wrapper dir-rtl">
    <div class="tabs-buttons">
        <a href="@Url.Action("Create")" class="roots-btn btn btn-primary roots-btn-w-plus" id="btn_create" style="color:white">
            إضافة جديد
        </a>
    </div>
</div>
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:600px">
    @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.FullName).Titled("المدفوع له");
        columns.Add(model => model.AmountOfMoneyNumber).Titled("المبلغ بالارقام");
        columns.Add(model => model.AmountOfMoneyText).Titled("المبلغ بالحروف");
        columns.Add(model => model.Reason).Titled("وذلك عن");
        columns.Add(model => model.OnAccount).Titled("على حساب");
        columns.Add(model => model.ReceivedFrom).Titled("وصلني من");
        columns.Add(model => model.Currency).Titled("العملة");
        columns.Add(model => model.User.FullName).Titled("تم بواسطة");
        columns.Add(model => $"<div class=\"dropdown\">" +
        $"<button class=\"table-dropdow-btn btn\" type=\"button\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">...</button>" +
        $"<div class=\"dropdown-menu dropdown-menu-right\" aria-labelledby=\"dropdownmenubutton\">" +
        $"<a class=\"dropdown-item\" href=\"Receipts/edit/{model.ID}\">تعديل</a>" +
        $"<a class=\"dropdown-item\" href=\"Receipts/details/{model.ID}\">تفاصيل</a>" +
        $"<a class=\"dropdown-item\" href=\"Receipts/delete/{model.ID}\">حذف</a>" +
        $"</div></div>").Encoded(false);
    })
    .Using(GridFilterMode.Row)
    .Empty("لا يوجد بيانات حاليا")
    .Filterable()
    .Sortable()
    .Pageable()
)
</div>
