@model MunicipalServices.Data.LicenseHolderInformation

@{
    ViewData["Title"] = "LicenseHolderInformation";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="content-box mt-2">
        <div class="content-box-header">
            <h3 class="content-box__title">Create</h3>
        </div>

        <div class="content-box-body">
            <div class="content-box-body__row row">
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="NameLicenseHolder" class="control-label"></label>
                    <input asp-for="NameLicenseHolder" class="form-control" />
                    <span asp-validation-for="NameLicenseHolder" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="IdentityNumberLicenseHolder" class="control-label"></label>
                    <input asp-for="IdentityNumberLicenseHolder" class="form-control" />
                    <span asp-validation-for="IdentityNumberLicenseHolder" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="AddressLicenseHolder" class="control-label"></label>
                    <input asp-for="AddressLicenseHolder" class="form-control" />
                    <span asp-validation-for="AddressLicenseHolder" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="PhoneNumberLicenseHolder" class="control-label"></label>
                    <input asp-for="PhoneNumberLicenseHolder" class="form-control" />
                    <span asp-validation-for="PhoneNumberLicenseHolder" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="NameDesigningOffice" class="control-label"></label>
                    <input asp-for="NameDesigningOffice" class="form-control" />
                    <span asp-validation-for="NameDesigningOffice" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="IdentityNumberDesignerOffice" class="control-label"></label>
                    <input asp-for="IdentityNumberDesignerOffice" class="form-control" />
                    <span asp-validation-for="IdentityNumberDesignerOffice" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="AddressDesignerOffice" class="control-label"></label>
                    <input asp-for="AddressDesignerOffice" class="form-control" />
                    <span asp-validation-for="AddressDesignerOffice" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="PhoneNumberDesignerOffice" class="control-label"></label>
                    <input asp-for="PhoneNumberDesignerOffice" class="form-control" />
                    <span asp-validation-for="PhoneNumberDesignerOffice" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="NameSupervisingEngineer" class="control-label"></label>
                    <input asp-for="NameSupervisingEngineer" class="form-control" />
                    <span asp-validation-for="NameSupervisingEngineer" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="IdentityNumberSupervisingEngineer" class="control-label"></label>
                    <input asp-for="IdentityNumberSupervisingEngineer" class="form-control" />
                    <span asp-validation-for="IdentityNumberSupervisingEngineer" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="AddressSupervisingEngineer" class="control-label"></label>
                    <input asp-for="AddressSupervisingEngineer" class="form-control" />
                    <span asp-validation-for="AddressSupervisingEngineer" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="PhoneNumberSupervisingEngineer" class="control-label"></label>
                    <input asp-for="PhoneNumberSupervisingEngineer" class="form-control" />
                    <span asp-validation-for="PhoneNumberSupervisingEngineer" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="root-space__btn-wrapp col-12">
            <a asp-action="Index" class="roots-btn btn btn-secondary mr-3">Cancel</a>
            <button type="submit" class="roots-btn btn btn-primary roots-btn-w-plus">Create</button>
        </div>
        <br />
    </div>
</form>