@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "تم الرفض";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">

    <header>
        <h1 class="text-danger text-right">@ViewData["Title"]</h1>
        <p class="text-danger text-right">ليس لديك حق الوصول إلى هذا الصفحة.</p>
    </header>
</div>