@page
@model RegisterModel
@{
    ViewData["Title"] = "إنشاء حساب جديد";
}
<div class="roots-content-wrapper my-4 container-fluid text-right" style="min-height:700px">

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FullName" class="input-label text-right"></label>
                    <input asp-for="Input.FullName" class="form-control" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender" class="input-label text-right"></label>
                    <select asp-for="Input.Gender" class="form-control" >
                        <option value="0">ذكر</option>
                        <option value="1">انثى</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="input-label text-right"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="input-label text-right"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="input-label text-right"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">سجل الان</button>
            </form>
        </div>
    </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
