@model MunicipalServices.Data.CashiersCheck

@{
    ViewData["Title"] = "Create";
}


<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="content-box mt-2">
        <div class="content-box-header">
            <h3 class="content-box__title">Cashiers Check</h3>
        </div>

        <div class="content-box-body">
            <div class="content-box-body__row row">
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="NumberID" class="control-label"></label>
                    <input asp-for="NumberID" class="form-control" />
                    <span asp-validation-for="NumberID" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="CheckNumber" class="control-label"></label>
                    <input asp-for="CheckNumber" class="form-control" />
                    <span asp-validation-for="CheckNumber" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="CodeBank" class="control-label"></label>
                    <input asp-for="CodeBank" class="form-control" />
                    <span asp-validation-for="CodeBank" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="CodeBranch" class="control-label"></label>
                    <input asp-for="CodeBranch" class="form-control" />
                    <span asp-validation-for="CodeBranch" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="BranchName" class="control-label"></label>
                    <input asp-for="BranchName" class="form-control" />
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="DateOfTheWorthy" class="control-label"></label>
                    <input asp-for="DateOfTheWorthy" class="form-control" />
                    <span asp-validation-for="DateOfTheWorthy" class="text-danger"></span>
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label asp-for="AmountOfMoney" class="control-label"></label>
                    <input asp-for="AmountOfMoney" class="form-control" />
                    <span asp-validation-for="AmountOfMoney" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="root-space__btn-wrapp col-12">
            <a asp-action="Index" class="roots-btn btn btn-secondary mr-3">Cancel</a>
            <button type="submit" class="roots-btn btn btn-primary roots-btn-w-plus">Create</button>
        </div>
        <br />
    </div>
</form>