@model MunicipalServices.Data.CashiersCheck

@{
    ViewData["Title"] = "الشيكات";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">

    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CatchReceiptID" />
        <input type="hidden" asp-for="ReceiptID" />
        <input type="hidden" asp-for="UserID" />
        <input type="hidden" asp-for="CreatedDate" />
        <div class="content-box mt-2">
            <div class="content-box-header">
                <h3 class="content-box__title text-right">تعديل</h3>
            </div>

            <div class="content-box-body">
                <div class="content-box-body__row row">
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="CheckNumber" class="input-label text-right"></label>
                        <input asp-for="CheckNumber" class="form-control" />
                        <span asp-validation-for="CheckNumber" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="AccountNumber" class="input-label text-right"></label>
                        <input asp-for="AccountNumber" class="form-control" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="CodeBank" class="input-label text-right"></label>
                        <input asp-for="CodeBank" class="form-control" />
                        <span asp-validation-for="CodeBank" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="BankName" class="input-label text-right"></label>
                        <input asp-for="BankName" class="form-control" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="CodeBranch" class="input-label text-right"></label>
                        <input asp-for="CodeBranch" class="form-control" />
                        <span asp-validation-for="CodeBranch" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="BranchName" class="input-label text-right"></label>
                        <input asp-for="BranchName" class="form-control" />
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="DateOfTheWorthy" class="input-label text-right"></label>
                        <input asp-for="DateOfTheWorthy" class="form-control" />
                        <span asp-validation-for="DateOfTheWorthy" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="AmountOfMoney" class="input-label text-right"></label>
                        <input asp-for="AmountOfMoney" class="form-control" />
                        <span asp-validation-for="AmountOfMoney" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="root-space__btn-wrapp col-12">
                @if (Model.CatchReceiptID != null)
                {
                    <a asp-action="details" asp-controller="CatchReceipts" asp-route-id="@Model.CatchReceiptID" class="roots-btn btn btn-secondary ml-3">إلغاء</a>
                }
                else if (Model.ReceiptID != null)
                {
                    <a asp-action="details" asp-controller="Receipts" asp-route-id="@Model.ReceiptID" class="roots-btn btn btn-secondary ml-3">إلغاء</a>
                }
                else
                {
                    <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">إلغاء</a>
                }
                <button type="submit" class="roots-btn btn btn-primary roots-btn-w-plus">حفظ</button>
            </div>
            <br />
        </div>
    </form>
        </div>
