@model MunicipalServices.Data.CraftAndIndustryLicense

@{
    ViewData["Title"] = "شهادة الحرف والصناعة";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:600px">

    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="content-box mt-2">
            <div class="content-box-header">
                <h3 class="content-box__title text-right">تعديل</h3>
            </div>
            <div class="content-box-body">
                <div class="content-box-body__row row">
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="LicenseHolderName" class="input-label text-right"></label>
                        <input asp-for="LicenseHolderName" class="form-control" />
                        <span asp-validation-for="LicenseHolderName" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="IdentificationNumber" class="input-label text-right"></label>
                        <input asp-for="IdentificationNumber" class="form-control" />
                        <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="CraftOrIndustryType" class="input-label text-right"></label>
                        <input asp-for="CraftOrIndustryType" class="form-control" />
                        <span asp-validation-for="CraftOrIndustryType" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="ClassifiedInTail" class="input-label text-right"></label>
                        <input asp-for="ClassifiedInTail" class="form-control" />
                        <span asp-validation-for="ClassifiedInTail" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="Address" class="input-label text-right"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="Ends" class="input-label text-right"></label>
                        <input asp-for="Ends" class="form-control" />
                        <span asp-validation-for="Ends" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="LicenseFee" class="input-label text-right"></label>
                        <input asp-for="LicenseFee" class="form-control" />
                        <span asp-validation-for="LicenseFee" class="text-danger"></span>
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label asp-for="VoucherNumber" class="input-label text-right"></label>
                        <input asp-for="VoucherNumber" class="form-control" />
                        <span asp-validation-for="VoucherNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="root-space__btn-wrapp col-12">
                <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">إلغاء</a>
                <button type="submit" class="roots-btn btn btn-primary roots-btn-w-plus">حفظ</button>
            </div>
            <br />
        </div>
    </form>
        </div>
