@model IEnumerable<MunicipalServices.Data.CraftAndIndustryLicense>

@{
    ViewData["Title"] = "شهادة الحرف والصناعة";
}
<div class="tabs-wrapper dir-rtl">
    <div class="tabs-buttons">
        <a href="@Url.Action("Create")" class="roots-btn btn btn-primary roots-btn-w-plus" id="btn_create" style="color:white">
            إضافة جديد
        </a>
    </div>
</div>
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">
    @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.LicenseHolderName).Titled("اسم حامل الرخصة");
        columns.Add(model => model.IdentificationNumber).Titled("رقم الهوية");
        columns.Add(model => model.CraftOrIndustryType).Titled("نوع الحرفة او الصناعة");
        columns.Add(model => model.ClassifiedInTail).Titled("صنفها في الذيل");
        columns.Add(model => model.Address).Titled("عنوان المحل");
        columns.Add(model => model.LicenseFee).Titled("رسوم الرخصة");
        columns.Add(model => model.VoucherNumber).Titled("رقم الوصل");
        columns.Add(model => model.User.FullName).Titled("تم بواسطة");
        columns.Add(model => $"<div class=\"dropdown\">" +
        $"<button class=\"table-dropdow-btn btn\" type=\"button\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">...</button>" +
        $"<div class=\"dropdown-menu dropdown-menu-right\" aria-labelledby=\"dropdownmenubutton\">" +
        $"<a class=\"dropdown-item\" href=\"CraftAndIndustryLicenses/edit/{model.ID}\">تعديل</a>" +
        $"<a class=\"dropdown-item\" href=\"CraftAndIndustryLicenses/details/{model.ID}\">تفاصيل</a>" +
        $"<a class=\"dropdown-item\" href=\"CraftAndIndustryLicenses/delete/{model.ID}\">حذف</a>" +
        $"</div></div>").Encoded(false);
    })
    .Using(GridFilterMode.Row)
    .Empty("لا يوجد بيانات حاليا")
    .Filterable()
    .Sortable()
    .Pageable()
)

</div>
